In [1]:
import requests
import json

In [2]:
url='http://127.0.0.1:5000/'

In [3]:
data=[[ 58.,   0.,   3., 150., 283.,   1.,   0., 162.,   0.,   1.,   2.,
         0.,   2.]]

In [10]:
import pandas as pd
pd.DataFrame(data,columns=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'])

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,58.0,0.0,3.0,150.0,283.0,1.0,0.0,162.0,0.0,1.0,2.0,0.0,2.0

In [14]:
j_data=json.dumps(data)
headers={'content-type':'application/json','Accept-Charset': 'UTF-8'}

In [16]:
req=requests.post(url,data=j_data,headers=headers)
print(req.text)

"[1]"